# python build
build
dist
easy_rec.egg-info

# python temp
*.pyc

# proto
protoc
protoc-3.4.0.tar.gz
*_pb2.py

# misc
experiments
log
*.swp
*.swo
.vscode


# pai job
pai_jobs/easy_rec
pai_jobs/easy_rec.tar.gz
pai_jobs/easy_rec*.tar.gz


# idea files
.idea

# unit test
/data
/UNIT_TEST_CASE_LIST
examples/ckpt/*
examples/data/criteo/criteo_kaggle_display/*
examples/data/movielens_1m/movies_test_data
examples/data/movielens_1m/movies_train_data
examples/data/movielens_1m/ml-1m/*
logs/*
examples/demo/mnist_model/*
